<section id="page" class="container" ng-controller="HomeCtrl">
    	<div class="shadow bg-white mTop-30 frameLR"></div>
	        <!--BANK FINACIALS CARDS -->
			<div class="mTop-30">
	            <div class="row">
	              <div class="col-sm-12 clearfix">
	                <div class="hr-link">
	                  <hr class="mBtm-50" data-symbol="COMMERCIAL BANKS RATES AND CHARGES">
	                </div>
	              </div>
	            </div>
	            
	            <div class="col-md-3" ng-repeat="x in kpi_featured | limitTo : 4">
	                <div class="deal-entry blue">
	                  <div class="image"><a href="/compare/{{ x._id.kpi_id}}"  ><img src="images/{{ x._id.kpi_image}}" alt="#" class="img-responsive"></a></div>
	                  <!-- /.image -->
	                  <div class="title"><a href="/compare/{{ x._id.kpi_id}}" >{{ x._id.kpi_name }}</a></div>
	                  	<div class="row">
	                  		<ul class="col-md-11">
			              		<li style="margin-left:10px;">
				            		<a href="#" class="tag btn-block" ng-repeat="metric in kpi_metrics | orderBy : 'rate' | filter : x._id.kpi_name | limitTo : 3">{{ metric.company }} <span class="badge label-primary pull-right" >{{ metric.rate | custNumFormat : metric.unit }}</span></a>
				            	</li>
			        		</ul>
	        		  	</div>
	        		</div>
				</div>
			</div>
			 <!--/.NON BANK FINANCIAL CARDS -->
			<div class="mTop-30">	
	            <div class="row">
	              <div class="col-sm-12 clearfix">
	                <div class="hr-link">
	                  <hr class="mBtm-50" data-symbol="NON BANK FINANCIAL INSTITUTIONS RATES AND CHARGES">
	                </div>
	              </div>
	            </div>
	            
	            <div class="col-md-3" ng-repeat="x in kpi_featured | limitTo : 4">
	            	<div class="deal-entry blue">
	                	<div class="image"><a href="/compare/{{ x._id.kpi_id}}"  ><img src="images/{{ x._id.kpi_image}}" alt="#" class="img-responsive"></a></div>
	                	<!-- /.image -->
		                <div class="title"><a href="/compare/{{ x._id.kpi_id}}" >{{ x._id.kpi_name }}</a></div>
		                <div class="row">
		                	<ul class="col-md-11">
				            	<li style="margin-left:10px;">
				            		<a href="#" class="tag btn-block" ng-repeat="metric in kpi_metrics | orderBy : 'rate' | filter : x._id.kpi_name | limitTo : 3">{{ metric.company }} <span class="badge label-primary pull-right" >{{ metric.rate | custNumFormat : metric.unit }}</span></a>
				            	</li>
				        	</ul>
				        	
		        		</div>
				    </div>
	            </div>
	            
			</div>
			
		</div>
		
		<!--/.WHAT PEOPLE ARE SAYING -->
			<div class="mTop-30">	
	            <div class="row">
	              <div class="col-sm-12 clearfix">
	                <div class="hr-link">
	                  <hr class="mBtm-50" data-symbol="WHAT PEOPLE ARE SAYING....">
	                </div>
	              </div>
	            </div>
	            
            <div class="col-md-4">
            	<section class="testimonial deal-entry" aria-label="testimonal">
					<div class="row">
					    <div class="col-md-4">
						      <img class="img-responsive img-circle" src="images/headshot.jpg" width="100" height="100">
					    </div>
					    <div class="col-md-8">
					    	<blockquote aria-label="testimonial comment">Bestvaluegh help me make the best financial decisions.
						      <cite aria-label="author of testimonial">- Dennis,Accra</cite>
						    </blockquote>
					    </div>
					</div>
				</section>
			</div>
			
	        <div class="mTop-30">
			            <div class="row">
			              <div class="col-sm-12 clearfix">
			                <div class="hr-link">
			                  <hr class="mBtm-50" data-symbol="FEATURED COMPANIES">
			                </div>
			              </div>
	            		</div>
	
	            		<div class="well-none">
						            <div id="myCarousel" class="carousel slide">
	
						                <!-- Carousel items -->
						                <div class="carousel-inner">
						                    <div class="item active">
						                        <div class="row">
						                            <div class="col-sm-3 col-xs-6"><a href="#x" class="thumbnail"><img src="images/barclays_bank_bw.jpg" alt="Image" class="img-responsive"></a>
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><a href="#x" class="thumbnail"><img src="images/Ecobank_bw.jpg" alt="Image" class="img-responsive"></a>
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><a href="#x"class="thumbnail"><img src="images/Energy_bank_bw.jpg" alt="Image" class="img-responsive"></a>
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><a href="#x" class="thumbnail"><img src="images/Fidelity-Bank-Logo_bw.jpg" alt="Image" class="img-responsive"></a>
						                            </div>
						                        </div>
						                        <!--/row-->
						                    </div>
						                    <!--/item-->
						                    <div class="item">
						                        <div class="row">
						                            <div class="col-sm-3 col-xs-6"><img src="images/GN_bank_bw.jpg" alt="Image" class="img-responsive img-thumbnail">
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><img src="images/UT_bank_bw.jpg" alt="Image" class="img-responsive img-thumbnail">
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><img src="images/Zenith_bank_bw.jpg" alt="Image" class="img-responsive img-thumbnail">
						                            </div>
						                            <div class="col-sm-3 col-xs-6"><img src="images/standard-chartered-logo-bw.jpg" alt="Image" class="img-responsive img-thumbnail">
						                            </div>
						                        </div>
						                        <!--/row-->
						                    </div>
	
						                </div>
						                <!--/carousel-inner-->
						                <a class="left carousel-control" href="#myCarousel" data-slide="prev"><i class="fa fa-chevron-left fa-4"></i></a>
	
						                <a class="right carousel-control" href="#myCarousel" data-slide="next"><i class="fa fa-chevron-right fa-4"></i></a>
						            </div>
						            <!--/myCarousel-->
						        </div>
	        				<!--/well-->
							</div
	
	        <!--/.frame -->
</section>
      