<section id="page" class="container-fluid">
	<div class="row" ng-controller="RatesCtrl">
    	<div class="col-sm-3 sidebar">
    		<div class="bg-white shadow">
    			<div class="widget-menu">
    				<div class="cat-text">Admin Setup</div>
    
                    <!-- Sidebar navigation -->
                    <ul class="nav sidebar-nav">
                      <li>
                        <a href="/admin"><i class="ti-shine"></i>Company Setup</a>
                      </li>
                      <li>
                        <a href="/admin/kpi"><i class="ti-shine"></i>Kpi Setup</a>
                      </li>
                      <li>
                        <a href="/admin"><i class="ti-shine"></i>Rates Setup</a>
                      </li>
                      <li>
                        <a href="#"><i class="ti-shine"></i>User Accounts</a>
                      </li>
                    </ul>
                    <!-- Sidebar divider -->
                </div>
                  <!-- /.widget -->
    		</div>		
            <!-- /col 4 - sidebar -->
    	</div>

        <div class="col-sm-9 sidebar">
            <div class="bg-white shadow">
    			<div class="widget-menu">
    				<div class="cat-text">
    				    <div class="input-group input-group-sm">
                          <span class="input-group-btn">
                             <button type="button" class="btn btn-primary" data-toggle="modal" ng-click="AddItem()">+ Add New</button>
                          </span>
                          <input type="search" class="form-control" placeholder="Search Kpi..." ng-model="search_query">
                        </div>
    				</div>
                    <div class="alert alert-info alert-dismissible" role="alert" ng-show="messages" ng-bind="messages">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
    				<div class="table-responsive alert alert-default">
                         <table class="table table-bordered">
                            <thead>
                              <tr>
                                <th>Company Name</th>
                                <th>KPI Name</th>
                                <th>Rate/Fee</th>
                                <th>Unit</th>
                                <th>Status</th>
                                <th>Action</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-repeat="metric in metrics | filter:search_query | orderBy:'company' ">
                                <td>{{ metric.company }}</td>
                                <td>{{ metric.kpi_metric.kpi_name }}</td>
                                <td>{{ metric.rate }}</td>
                                <td>{{ metric.unit }}</td>
                                <td>{{ metric.is_active }}</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-sm" ng-click="EditItem(metric)">Edit</span></button>
                                    <button type="button" class="btn btn-danger btn-sm" ng-click="DeleteItem(metric._id)">Delete</button>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
    			    </div>
    		</div>

            <div class="inner-side">
                
            </div>
            
            <!-- add Modal -->
              <div class="modal fade" id="addModal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Add Rates</h4>
                    </div>
                    <div class="modal-body">
                            
                            <form class="form-horizontal alert alert-default" role="form" name="KpiForm" novalidate>
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="name">Kpi:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="kpi_id" name="kpi_id" ng-model="new_metric.kpi_id">
                                        <option ng-repeat="kpi in kpis" value="{{ kpi._id}}">{{ kpi.kpi_name}}</option>
                                    </select>
                                </div>
                              </div>
                              
                              <div class="form-group">
                                
                                <label class="control-label col-sm-2" for="type">Rate:</label>
                                <div class="col-sm-4">
                                  <input type="number" class="form-control" id="rate" name="rate" ng-model="new_metric.rate">
                                </div>
                                
                                <label class="control-label col-sm-2" for="type">Unit:</label>
                                <div class="col-sm-4">
                                   <select class="form-control" id="unit" name="unit" ng-model="new_metric.unit">
                                        <option value="Ghs" selected>Ghs
                                        <option value="%">%
                                   </select>
                                </div>
                              </div>
                              
                         
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="category">Company:</label>
                                <div class="col-sm-10">
                                  
                                    <select class="form-control" id="company" name="company" ng-model="new_metric.company">
                                        <option ng-repeat="company in companies" value="{{ company.name}}">{{ company.name}}</option>
                                    </select>
                                </div>
                              </div>
                              
                              
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="ref_url">Ref. Url:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="ref_url" name="ref_url" ng-model="new_metric.ref_url">
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="featured">Featured:</label>
                                <div class="col-sm-4">
                                     <select  class="form-control" id="featured" name="featured" ng-model="new_metric.featured">
                                        <option value="Yes" selected>Yes
                                        <option value="No">No
                                     </select>
                                </div>
                                
                                <label class="control-label col-sm-2" for="is_active">Status:</label>
                                <div class="col-sm-4">
                                  <select  class="form-control" id="is_active" name="is_active" ng-model="new_metric.is_active">
                                        <option value="Active" selected>Active
                                        <option value="Inactive">Inactive
                                  </select>
                                </div>
                              </div>
                              
                           
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="comments">Comments:</label>
                                <div class="col-sm-10">
                                  <textarea class="form-control" rows="3" id="comments" name="comments" ng-model="new_metric.comments"></textarea>
                                </div>
                              </div>
                            </form>
                        

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-primary" ng-click="SaveItem(new_metric)">Save</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
              
              <!-- edit Modal -->
              <div class="modal fade" id="editModal" role="dialog">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                      <h4 class="modal-title">Edit Rate/Fee</h4>
                    </div>
                    <div class="modal-body">
                        
                        
                            <form class="form-horizontal alert alert-default" role="form" name="KpiForm" novalidate>
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="name">Kpi:</label>
                                <div class="col-sm-10">
                                    <select class="form-control" id="kpi_id" name="kpi_id" ng-model="edit_metric.kpi_id">
                                        <option ng-repeat="kpi in kpis" value="{{ kpi._id}}">{{ kpi.kpi_name}}</option>
                                    </select>
                                </div>
                              </div>
                              
                              <div class="form-group">
                                
                                <label class="control-label col-sm-2" for="type">Rate:</label>
                                <div class="col-sm-4">
                                  <input type="number" class="form-control" id="rate" name="rate" ng-model="edit_metric.rate">
                                </div>
                                
                                <label class="control-label col-sm-2" for="type">Unit:</label>
                                <div class="col-sm-4">
                                   <select class="form-control" id="unit" name="unit" ng-model="edit_metric.unit">
                                        <option value="Ghs">Ghs
                                        <option value="%">%
                                   </select>
                                </div>
                              </div>
                              
                         
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="category">Company:</label>
                                <div class="col-sm-10">
                                  
                                    <select class="form-control" id="company" name="company" ng-model="edit_metric.company">
                                        <option ng-repeat="company in companies" value="{{ company.name}}">{{ company.name}}</option>
                                    </select>
                                </div>
                              </div>
                              
                              
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="ref_url">Ref. Url:</label>
                                <div class="col-sm-10">
                                  <input type="text" class="form-control" id="ref_url" name="ref_url" ng-model="edit_metric.ref_url">
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="featured">Featured:</label>
                                <div class="col-sm-4">
                                     <select  class="form-control" id="featured" name="featured" ng-model="edit_metric.featured">
                                        <option value="Yes">Yes
                                        <option value="No">No
                                     </select>
                                </div>
                                
                                <label class="control-label col-sm-2" for="is_active">Status:</label>
                                <div class="col-sm-4">
                                  <select  class="form-control" id="is_active" name="is_active" ng-model="edit_metric.is_active">
                                        <option value="Active">Active
                                        <option value="Inactive">Inactive
                                  </select>
                                </div>
                              </div>
                              
                              <div class="form-group">
                                <label class="control-label col-sm-2" for="comments">Comments:</label>
                                <div class="col-sm-10">
                                  <textarea class="form-control" rows="3" id="comments" name="comments" ng-model="edit_metric.comments"></textarea>
                                </div>
                              </div>
                              
                            </form>
                        
                    </div>
                    <div class="modal-footer">
                      <button type="submit" class="btn btn-primary" ng-click="UpdateItem(edit_metric)">Save</button>
                      <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

    	</div><!-- /.col -9  -->
    </div><!-- /.row -->
    
 
</section>
      